/.metadata/
/netbeans/edunova01/target/
/netbeans/LjubavniKalkulator/target/
/netbeans/zadatci/LjubavniKalkulator/target/
/netbeans/ucenje/edunova01/target/
/netbeans/ucenje/EEdunova01/target/
/netbeans/ucenje/Edunova01/target/
/netbeans/ucenje/EdunovaApp/target/
/netbeans/zavrsni/ZavrsniApp/target/
